{# https://symfony.com/doc/current/controller/error_pages.html#overriding-the-default-error-templates #}
{% extends 'base.html.twig' %}
{% block title 'Error: ' ~ status_code  ~ ' ' ~ status_text %}
{% block body %}
    <div id="lrf-container">
        <div id="lrf">
            <div class="title">{% block error_title %}Oops! An Error Occurred{% endblock %}</div>
            <div class="alert alert-warning">
                {% block error_description %}
                    Something is broken on our end.
                    This should not have happened.
                    Please let us know what you were doing when this error occurred.
                    The best way to get in touch is via GitHub, Reddit or Discord (links below).
                    We are sorry for any inconvenience caused by this issue.
                {% endblock %}
                <hr />
                The server returned "{{ status_code }} {{ status_text }}".
            </div>
        </div>
    </div>
{% endblock %}
